/* Style inputs with type="text", type="email"and textareas */
input[type=text], input[type=email], textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  button[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  button[type=submit]:hover {
    background-color: #45a049;
  }


/* change metric box color on dashboard */
div.css-12w0qpk.e1tzin5v2 {
    background-color: #EEEEEE;
    border: 2px none #CCCCCC;
    padding: 1% 1% 1% 1%;
    border-radius: 5px;
}

/* background-color: #EEEEEE; */


/* tried changing the size of the kpi, but failed, css only allows changing of the entire thing */
/* change caption color on dashboard */
div.css-bda956.e16nr0p33 {
    color: black;
    font-size: 13px;
    /* text-align: center; */
}


